* {
  box-sizing: border-box;
}

body {
  color: #717171;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
}

.section-container {
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  max-width: 1440px;
}

.bg-color {
  background-color: #EDF2EC;
}

.header {
  padding: 42px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.nav__ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav__item {
  line-height: 50px;
}

.nav__item  + .nav__item {
  margin-left: 46px;
}

.nav__item--hovered .nav__a{
  color: #E06733;
  font-weight: 700;
}

.nav__a {
  font-size: 16px;
  line-height: 50px;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  color: #010201;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: flex-end;

  font-family: 'Inika', serif;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;

  padding-bottom: 6px;
  padding-left: 2px;
}

.logo__img {
  width: 20px;
  height: 20px;
  margin-right: 1px;

}

.logo__text {
  margin-right: 13px;
  line-height: 1;
}

.main {
  width: 100%;
}

/* welcome */

.welcome {
  padding: 62px 0 62.4px;
}

.welcome__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.welcome__img {
  width: 448.8px;
  height: 407.36px;
  margin: 0;
  margin-right: 224.2px;
}

.welcome__content {
  max-width: 549px;
  padding-top: 36px;
}

.welcome__header {
  margin: 0;
  margin-bottom: 42px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 111%;
}

.welcome__header--select {
  color: #499A18;
}

.welcome__text {
  margin: 0;
  font-size: 20px;
  line-height: 175%;
  margin-bottom: 60px;
}

.welcome__link {
  padding: 10px 26px;
  border: 2px solid #E06733;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

/* about */
.about {
  padding: 93px 0 94px;
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.about__content {
  max-width: 605px;
  padding-top: 67px;
}

.about__header {
  margin: 0;
  margin-bottom: 38px;
  max-width: 463px;
  font-size: 40px;
  line-height: 52px;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  color: #499A18; 
}

.about__header--select {
  color: #E06733;
}

.about__text {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #636060;
}

/* contacts */
.contacts__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}

.contacts__header {
  position: absolute;
  top: 60px;
  left: 50%;
  margin: 0;
  transform: translateX(-51%);
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.contacts__img {
  order: -1;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  min-width: 450px;

  margin-top: 94px;
}

.contacts-form__select {
  visibility: hidden;
}

.contacts-form__label {
  padding: 5px 20px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;

  letter-spacing: 0.05em;

  color: #717171;
  background: #D6E7D2;
  border-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* footer */
.footer {
  padding: 40px 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creator {
  display: flex;
}

.creator__item + .creator__item{
  margin-left: 20px;
}

.creator__link {
  color: #000000;
  text-decoration: none;
}

.link__rss {
  margin-left: 19px;
  color: #000000;
  text-decoration: none;
}

.social {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social__item {
  width: 32px;
  height: 32px;
}

.social__item + .social__item {
  margin-left: 20px;
}

.social__link {
  color: #000000;
  text-decoration: none;
}

.social__img {
  width: 32px;
  height: 32px;
}