* {
  box-sizing: border-box;
}

.page {
  scroll-behavior: smooth;
}

.page--clip {
  overflow: hidden;
}

body {
  color: #717171;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-color {
  background-color: #EDF2EC;
}

/*============= section =============*/

.section {
  width: 100%;
}

.section__container {
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  max-width: 1440px;
}

/*============= button =============*/

.button {
  padding: 11px 40px;

  min-width: 161px;

  border: 1px solid #E06733;
  border-radius: 5px;

  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;

  background: transparent;
  cursor: pointer;
  transition: 0.3s all;
}

.button:hover {
  background-color: #E06733;
  color: #FFFFFF;
}

.button:active {
  color: #499A18;
}

/*============= action =============*/
.action {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 2px;
  background-color: transparent;
  line-height: 1;
}

.action__icon {
  width: 40px;
  height: 40px;
}


/*============= header =============*/

.header {
  padding: 42px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  display: none;
}

/*============= nav =============*/

.nav {
  display: flex;
}

.nav__ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav__item {
  line-height: 50px;
}

.nav__item  + .nav__item {
  margin-left: 47px;
}

.nav__item:hover .nav__a{
  color: #E06733;
  font-weight: 700;
}

.nav__a {
  font-size: 16px;
  line-height: 50px;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  color: #010201;
  text-decoration: none;
}

/*============= logo =============*/

.logo {
  display: flex;
  align-items: flex-end;

  font-family: 'Inika', serif;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;

  padding-bottom: 6px;
  padding-left: 2px;
}

.logo:hover .logo__text {
  color: #E06733;
  font-weight: 700;
}

.logo__img {
  width: 20px;
  height: 20px;
  margin-right: 1px;

}

.logo__text {
  margin-right: 13px;
  line-height: 1;
}

.main {
  width: 100%;
}

/*============= welcome =============*/

.welcome {
  padding: 62px 0 61.4px;
}

.welcome__container {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  background: left 100px top -10px no-repeat;
  background-image: url('../assets/leafs-min.png');
}

.welcome__content {
  max-width: 549px;
  padding-top: 35px;
}

.welcome__header {
  margin: 0;
  margin-bottom: 44px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 111%;
}

.welcome__header--select {
  color: #499A18;
}

.welcome__text {
  margin: 0;
  font-size: 20px;
  line-height: 175%;
  margin-bottom: 47px;
}

.welcome__button {
  display: inline-block;
  margin-bottom: 33px;
  padding: 10px 26px;
  border: 2px solid #E06733;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  background: transparent;
  transition: 0.3s all;
}

.welcome__button:hover {
  color: #ffffff;
  background-color: #E06733;
}

.welcome__button:active {
  color: #499A18;
}

/*============= about =============*/

.about {
  padding: 93px 0 94px;
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.about__content {
  max-width: 605px;
  padding-top: 68px;
}

.about__header {
  margin: 0;
  margin-bottom: 38px;
  max-width: 463px;
  font-size: 40px;
  line-height: 52px;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  color: #499A18; 
}

.about__header--select {
  color: #E06733;
}

.about__text {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #636060;
}

/*============= service =============*/

.service {
  padding: 40px 0 66px;
}

.service__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.service__header {
  margin: 0;
  margin-right: 142px;
  max-width: 306px;
  font-family: 'Inika', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;

  color: #499A18;
}

.service-controls {
  margin-top: 4px;
}

.service-controls__item + .service-controls__item {
  margin-left: 33px;
}

.service-controls__item--active{
  background-color: #E06733;
  color: #FFFFFF;
}

.service-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  list-style-type: none;
}

.service-content__item {
  margin-bottom: 55px;
  margin-right: 15px;
}
.service-content__item:nth-child(3n) {
  margin-right: 0;
}

/*============= card =============*/

.card {
  display: inline-block;
  margin: 0;
  max-width: 329px;
}

.card__img {
  display: block;
  width: 329px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  filter: contrast(80%) saturate(120%);
}

.card__desc {
  padding: 9px 30px 36px;
  text-align: center;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}

.card__desc__header {
  margin: 0;
  margin-bottom: 15px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
}

.card__desc__text {
  margin: 0;
}

/*============= price =============*/

.price {
  padding: 38px 0 127px;
  color: #000000;
}

.price__column--right {
  text-align: right;    
  background: right -9px top 224px no-repeat #ffffff;
  background-image: url('../assets/leafs2-min.jpg');
}

.price__container {
  display: flex;
  justify-content: space-between;
}

.price__header {  
  margin: 0;
  margin-bottom: 60px;

  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.price__text {
  margin: 0;
  margin-bottom: 40px;
  max-width: 452px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;

  text-align: right;
}

.price__selected {
  color: #499A18;
}

.price__button {
  display: inline-block;
  min-width: 162px;
  padding: 11px 33px;

  border: 1px solid #E06733;
  border-radius: 5px;

  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #E06733;
  transition: 0.3s all;
}

.price__button:hover {
  color: #ffffff;
  background: #E06733;
}

.price__button:active {
  color: #499A18;
}

/*============= accordion =============*/

.accordion {
  padding: 34px 41px;
  max-width: 332px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.accordion__item {
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  background: #EDF2EC;
  transition: 0.3s all;
}

.accordion__item + .accordion__item {
  margin-top: 32px;
}

.accordion__item[open] {
  background: #D6E7D2;
}

.accordion__item::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 24px;
  right: 39px;
  transform: translateY(-50%);
  border-radius: 100%;
  background: top 50% left 50% no-repeat;
  background-image: url('../assets/arrow-down.svg');
  background-color: #D9D9D9;
  pointer-events: none;
}

.accordion__item[open]::after {
  background-image: url('../assets/arrow-up.svg');
  background-color: #AEA1A1;
}

.accordion__item:not([open]):hover {
  background:  #C1E698;
}

.accordion__item:not([open]):hover::after {
  background-color: #AEA1A1;
}

.accordion__item[open] .accordion__titel:hover {
  color: #E06733;
}

.accordion__titel {
  padding: 15px 39px;
  min-width: 250px;
  border-radius: 20px;

  list-style-type: none;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.accordion__titel::webkit-details-marker {
  display: none;
}

.accordion__body {
  padding: 0 40px 12px;
  
  transition: 0.3s all;
}

.accordion__text {
  position: relative;
  margin: 0;
  margin-bottom: 6px;
  padding-top: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;

  color: #717171;
}

.accordion__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 6px);
  height: 0.5px;
  background: #AEA1A1;
}

.accordion__price {
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.accordion__selected {
  font-weight: 700;
  font-size: 16px;
  color: #E06733;
}

.accrodion__button {
  padding: 3px 20px;
  background: #FFFFFF;
  border: 0;
  border-radius: 10px;

  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  cursor: pointer;

  transition: 0.3s all;
}

.accrodion__button:hover {
  background-color: #E06733;
  color: #ffffff;
}

/*============= contacts =============*/

.contacts__container {
  position: relative;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  background: left 109px bottom 0% no-repeat;
  background-image: url('../assets/contact_woman-min.png');
}

.contacts__header {
  margin: 0;
  margin-bottom: 34px;
  padding-right: 6px;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-self: end;
  max-width: 450px;
  width: 100%;
}

.contacts-form__select {
  visibility: hidden;
}

.contacts-form__label {
  position: relative;
  padding: 5px 20px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;

  letter-spacing: 0.05em;

  color: #717171;
  background: #D6E7D2;
  
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  cursor: pointer;
}

.contacts-form__label::after {
  content: '';
  position: absolute;
  display: block;
  top: 52%;
  left: calc(100% - 50px);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: left 50% top 50% no-repeat #AEA1A1;
  background-image: url('../assets/arrow-down_white.svg');
  transform: translateY(-50%);
}

.contacts-form__label:hover {
  background: #C1E698;
  border: 1px solid #D6E7D2;
  border-radius: 0px;
  box-shadow: none;
}
.contacts-form__label:hover::after {
  background-color: #8BA07E;
}

/*============= footer =============*/

.footer {
  padding: 40px 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creator {
  display: flex;
}

.creator__item + .creator__item{
  margin-left: 20px;
}

.creator__link {
  color: #000000;
  text-decoration: none;
  transition: 0.3s all;
}

.creator__link:hover {
  color: #E06733;
}

.link__rss {
  margin-left: 19px;
  color: #000000;
  text-decoration: none;
  transition: 0.3s all;
}

.link__rss:hover {
  color: #E06733;
}

.social {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social__item {
  width: 32px;
  height: 32px;
}

.social__item + .social__item {
  margin-left: 20px;
}

.social__link {
  color: #000000;
  text-decoration: none;
  transition: 0.3s all;
}

.social__img {
  width: 32px;
  height: 32px;
}

.social__path {
  fill: #000000;
  transition: 0.3s all;
}

.social__link:hover .social__path {
  fill: #E06733;
}


@media (max-width: 1234px) {
  .header {
    padding: 35px 0;
  }

  .section__container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .welcome__container {
    justify-content: left;
    background: right 46px top 26px no-repeat;
    background-image: url(../assets/leafs-min-768.png);
  }

  .about__container {
    flex-direction: column;
    align-items: center;
  }

  .about__content {
    max-width: 100%;
    padding-top: 0;
  }

  .about__header {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .price__column--right {
    margin-top: 100px;
    padding-bottom: 200px;
  }

  .service-controls {
    margin-top: 42px;
    width: 100%;
  }
}

@media (max-width: 1117px) {

  .card {
    max-width: 280px;
  }

  .card__img {
    width: 280px;
    height: 350px;
  }
}

@media (max-width: 1004px) {

  .contacts-form {
    align-self: center;
  }

  .contacts__container {
    min-height: 739px;
    background: left calc(50% + 10px) bottom 0% no-repeat;
    background-image: url(../assets/contact_woman-768.png);
  }
}

@media (max-width: 969px) {
  .service-content {
    justify-content: space-evenly;
  }

  .service-content__item:nth-child(3n) {
    margin-right: 15px;
  }

  .service-content__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 930px) {
  .logo {
    padding-left: 0px;
  }

  .logo__img {
    margin-right: 0;
  }

  .welcome {
    padding: 1px 0 37px;
  }

  .welcome__content {
    max-width: 346px;
  }

  .welcome__header {
    margin-bottom: 31px;
    font-size: 35px;
    line-height: 50px;
  }

  .welcome__text {
    font-size: 16px;
    line-height: 25px;
    margin-left: 5px;
    margin-bottom: 35px;
  }

  .about {
    padding: 40px 0 95px;
  }

  .about__header {
    font-size: 35px;
    line-height: 46px;
    text-align: center;
  }

  .about__content {
    margin-bottom: 68px;
  }

  .about__img {
    width: 250px;
  }

  .service {
    padding: 60px 0 32px;
  }

  .service__header {
    font-size: 35px;
    line-height: 46px;
  }

  .service-content {
    margin-top: 40px;
  }

  .service-content__item:nth-child(3n) {
    margin-right: 10px;
  }
  .service-content__item:nth-child(2n) {
    margin-right: 0;
  }

  .service-content__item {
    margin-bottom: 39px;
  }

  .card__desc {
    padding: 9px 30px 17px;
  }

  .card__desc__header {
    margin-bottom: 11px;
  }

  .card__desc__text {
    font-size: 16px;
    line-height: 20px;
  }

  .price {
    padding: 40px 0 81px;
  }

  .price__header {
    font-size: 35px;
    line-height: 42px;
    padding-left: 14px;
    margin-bottom: 57px;
  }

  .price__text {
    font-size: 25px;
    line-height: 35px;
    margin-right: -1px;
    margin-bottom: 28px;
  }

  .price__column--right {
    margin-left: 20px;
    text-align: right;
    background-position-x: calc(100% + 10px);
    background-position-y: 100%;
  }

  .price__button {
    margin-bottom: 16px;
  }

  .contacts__container {
    padding-top: 40px;
  }

  .contacts__header {
    padding-right: 3px;
    margin-bottom: 97px;
  }

  .footer {
    padding: 35px 0 27px;
  }
  .footer__container {
    flex-direction: column;
  }
  .creator {
    margin-left: -1px;
    margin-bottom: 5px;
  }

  .creator__item {
    line-height: 1em;
  }

  .creator__item + .creator__item {
    margin-left: 23px;
  }

  .link__rss {
    margin-left: -1px;
    margin-bottom: 12px;
  }
}


@media (max-width: 780px) {
  .service-content {
    justify-content: space-between;
  }
}

@media (max-width: 710px) {
  .section__container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .button {
    padding: 8px 28px;
    min-width: 121px;
    font-size: 15px;
    line-height: 20px;
  }

  .header__button {
    display: inline-flex;
    position: relative;
    z-index: 2;
  }

  .nav {
    position: fixed;
    inset: 0;
    z-index: 1;
    padding: 20px;
    background-color: #ffffff;
    transform: translateX(100%) scaleX(.3);
    transition: transform .4s cubic-bezier(.65,0,.35,1);
  }

  .nav__ul {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav--closed {
    display: none;
  }

  .nav--open {
    transform: translateX(0) scaleX(1);
  }

  /* .nav__ul {
    top: 0;
    right: 0;
    position: absolute;
    transform: translateY(-100%);
    width: 50%;
    height: 35%;
    background: #fff;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  } */

  .nav__item + .nav__item {
    margin-left: 0;
  }

  .header__button[aria-expanded=false] :is(.header__icon-close), 
  .header__button[aria-expanded=true] :is(.header__icon-menu) {
    display: none;
  }

  .welcome__container {
    background-image: none;
  }

  .welcome__content {
    max-width: none;
  }

  .welcome__button {
    padding: 8px 18px;
    font-size: 15px;
  }
  
  .about__text {
    font-size: 16px;
    line-height: 25px;
  }

  .service-content {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
  }

  .service-content__item {
    margin-right: 0;
  }

  .service-controls__item + .service-controls__item {
    margin-left: 10px;
  }

  .price__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .price__header {
    padding-left: 0;
    text-align: center;
  }

  .price__text {
    max-width: 350px;
    text-align: center;
  }

  .price__column--right {
    background-image: none;
    margin-left: 0;
    margin-top: 40px;
    padding-bottom: 0;
    text-align: center;
  }

  .price__button {
    margin-bottom: 0;
    min-width: 121px;
    padding: 8px 22px;
    font-size: 15px;
    line-height: 20px;
  }

}

@media (max-width: 470px) {
  .header {
    padding: 27px 0;
  }

  .logo__text {
    padding-top: 13px;
  }

  .logo__img {
    margin-bottom: 3px;
  }

  .welcome {
    padding: 1px 0 24px;
  }

  .welcome__content {
    padding-top: 29px;
  }

  .welcome__header {
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 22px;
  }

  .welcome__text {
    margin-bottom: 26px;
    margin-left: 0;
  }

  .welcome__button {
    font-size: 10px;
    padding: 5px 16px;
    margin-bottom: 0;
  }

  .about {
    padding: 30px 0 27px;
  }

  .about__content {
    margin-bottom: 0.33px;
  }

  .about__header {
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 13px;
  }
  
  .about__text {
    font-size: 15px;
  }

  .about__img {
    width: 150px;
  }

  .service {
    padding: 30px 0 29px;
  }

  .service__header {
    font-size: 25px;
    line-height: 33px;
  }

  .service-controls {
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .service-content {
    margin-top: 30px;
  }

  .service-content__item {
    margin-bottom: 35px;
  }

  .service-content__item:nth-child(2n) {
    margin-right: 0;
  }

  .service-content__item:nth-child(3n) {
    margin-right: 0;
  }
  
  .service-content__item:last-child {
    margin-bottom: 0;
  }

  .card__desc__header {
    margin-bottom: 11px;
  }

  .price {
    padding: 25px 0 39px;
  }

  .price__header {
    margin-bottom: 37px;
    padding-left: 2px;
    font-size: 25px;
    line-height: 30px;
  }

  .accordion {
    padding: 28px 22px;
    max-width: 224px;
  }

  .accordion__item + .accordion__item {
    margin-top: 14px;
  }

  .accordion__titel {
    padding: 15px 30px;
    min-width: 180px;
    border-radius: 20px;
    list-style-type: none;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
  }

  .accordion__body {
    padding: 0 15px 12px;
  }

  .price__column--right {
    margin-top: 19px;
  }

  .price__text {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 20px;
    max-width: 285px;
  }

  .price__button {
    padding: 7px 22px;
  }

  .contacts__container {
    padding-top: 25px;
    min-height: 445px;

    background: left calc(50% - 2px) bottom 0% no-repeat;
    background-image: url(../assets/contact_woman-380.png);
  }

  .contacts__header {
    margin-bottom: 80px;
    font-size: 25px;
    line-height: 33px;
  }

  .contacts-form {
    max-width: 300px;
  }

  .contacts-form__label {
    padding: 4px 17px;
  }

  .contacts-form__label::after {
    top: 51%;
    left: calc(100% - 37px);
  }

  .footer {
    padding: 24px 0 18px;
  }

  .link__rss {
    margin-left: -1px;
    margin-bottom: -1px;
  }
}

@media (max-width: 432px) {
  .button {
    padding: 7px 28px;
  }

  .service-controls__item {
    margin-bottom: 8px;
  }

  .service-controls__item + .service-controls__item {
    margin-left: 0;
  }

  .service-controls__item:nth-child(2n) {
    margin-left: 10px;
    margin-right: auto;
  }
}

@media (max-width: 360px) {
  .service__header {
    margin: 0;
  }
}